.game-container {
    width: 100%;
    max-width: 90vw;
    height: 900px;
    margin: 0 auto;
    display: block;
}

.waiting-screen {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #16db93;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
} 